openapi: 3.0.1
info:
  title: RCO APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/rco/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/rco/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/rco/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /componentcomments:
    post:
      summary: Component Comments
      parameters:
        - in: header
          name: APIKey
          schema:
            type: string
          required: true
      description: Update Component Comments
      tags: 
        - Component
      requestBody:
        description: Component Comments Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentCommentsRequest'
        required: true
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidResourceOrLogicalId'
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ComponentCommentsRequest:
     type: object
     description: Component Comments Request Body
     properties:
        sender:
          type: object
          properties:
            logicalId:
              type: string
              example: COMPONENTCOMMENT
            referenceId:
              type: string
              example: 9999
            authorizationId:
              type: string
            component:
              type: string
            trackingId:
              type: string
              example: "9999|14789067_SP|SITCOMPONENTDETAILS|2023-01-30T07:02:17.0-05:00"
            mode:
              type: string
              example: T
              description: T for Test mode 
            dataArea:
              type: object
              properties:
                componentInventoryCommentId:
                  type: string
                  example: 28145
                componentId:
                  type: string
                  example: 115805
                componentInventoryCmnt:
                  type: string
                  example: "Fixture was requested yesterday but not followed up with an email. Can you please expedite this request? Thank you!!"
                commentBy:
                  type: string
                  example: aploszs
                commentUpdatedDt:
                  type: string
                  example: "01/26/2023 03:08:28 PM"
                validationComponentTyp:
                  type: string
                  example: FX
    ErrorInvalidAuthorizationKey:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "401"
            message:
              type: string
              example: "Invalid Authorization key for resource"
    ErrorInvalidResourceOrLogicalId:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found or logicalId is either missing or Invalid"