openapi: 3.0.1
info:
  title: RCO APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/rco/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/rco/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/rco/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /componentdetails:
    post:
      summary: Component Details
      parameters:
        - in: header
          name: APIKey
          schema:
            type: string
          required: true
      description: Update Component Details
      tags: 
        - Component
      requestBody:
        description: Component Details Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentDetailsRequest'
        required: true
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: LOGICALID missing or value is not COMPONENTCOMMENT
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
  /componentcomments:
    post:
      summary: Component Comments
      parameters:
        - in: header
          name: APIKey
          schema:
            type: string
          required: true
      description: Update Component Comments
      tags: 
        - Component
      requestBody:
        description: Component Comments Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentCommentsRequest'
        required: true
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: LOGICALID missing or value is not COMPONENTDETAILS
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ComponentDetailsRequest:
     type: object
     description: Component Details Request Body
     properties:
        sender:
          type: object
          properties:
            logicalId:
              type: string
              example: COMPONENTDETAILS
            referenceId:
              type: string
              example: 9999
            authorizationId:
              type: string
            trackingId:
              type: string
              example: "9999|14789067_SP|SITCOMPONENTDETAILS|2023-01-30T07:02:17.0-05:00"
            task:
              type: string
            mode:
              type: string
              example: T
              description: T for Test mode 
        dataArea:
          type: object
          properties:
            componentId:
              type: string
              example: 10730076
            componentDesc:
              type: string
              example: "[06] 1st Row LH 8WP Fabric w/heat - A2"
            phaseName:
              type: string
              example: "1st Row DV"
            projectNbr:
              type: string
              example: 12359TE0022502
            testEngineerNme:
              type: string
              example: Last Name, First Name
            phoneNbr:
              type: string
              example: 0
            dvpNbr:
              type: string
              example: 149825
            adientPlantName:
              type: string
              example: Adient - Plymouth
            oem:
              type: string
              example: Honda
            programName:
              type: string
              example: 2023 Honda T90A Seat
            validationComponentTyp:
              type: string
              example: SP
            fxType:
              type: string
              example: NA
            fxCheckInStatus:
              type: string
              example: NA
            fxCurrentLoc:
              type: string
              example: NA
            woc:
              type: array
              items:
                type: object
                properties:
                  workOrderId:
                    type: string
                    example: 10301325
                  testClassName:
                    type: string
                    example: Material Properties
                  testSubclassName:
                    type: string
                    example: Properties
    ComponentCommentsRequest:
     type: object
     description: Component Comments Request Body
     properties:
        sender:
          type: object
          properties:
            logicalId:
              type: string
              example: COMPONENTCOMMENT
            referenceId:
              type: string
              example: 9999
            authorizationId:
              type: string
            component:
              type: string
            trackingId:
              type: string
              example: "9999|14789067_SP|SITCOMPONENTDETAILS|2023-01-30T07:02:17.0-05:00"
            mode:
              type: string
              example: T
              description: T for Test mode 
            dataArea:
              type: object
              properties:
                componentInventoryCommentId:
                  type: string
                  example: 28145
                componentId:
                  type: string
                  example: 115805
                componentInventoryCmnt:
                  type: string
                  example: "Fixture was requested yesterday but not followed up with an email. Can you please expedite this request? Thank you!!"
                commentBy:
                  type: string
                  example: aploszs
                commentUpdatedDt:
                  type: string
                  example: "01/26/2023 03:08:28 PM"
                validationComponentTyp:
                  type: string
                  example: FX